<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuose.box.admin.goods.dao.BoxGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kuose.box.admin.goods.entity.BoxGoods">
        <id column="id" property="id" />
        <result column="goods_no" property="goodsNo" />
        <result column="name" property="name" />
        <result column="brand" property="brand" />
        <result column="category_code" property="categoryCode" />
        <result column="img" property="img" />
        <result column="tmall_url" property="tmallUrl" />
        <result column="is_on_sale" property="isOnSale" />
        <result column="quarter" property="quarter" />
        <result column="year" property="year" />
        <result column="features_style_nos" property="featuresStyleNos" />
        <result column="match_style_nos" property="matchStyleNos" />
        <result column="counter_price" property="counterPrice" />
        <result column="tag price" property="tag price" />
        <result column="retail_price" property="retailPrice" />
        <result column="remark" property="remark" />
        <result column="register_date" property="registerDate" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_no, `name`, brand, category_code, img, tmall_url, is_on_sale, quarter, `year`, features_style_nos, match_style_nos, counter_price, tag price, retail_price, remark, register_date, create_time, update_time, deleted
    </sql>



    <select id="listGoodsPage" resultMap="BaseResultMap">
        SELECT bg.id,bg.goods_no,bg.name,bg.brand,bg.category_code,bg.img,bg.tmall_url,bg.quarter,bg.year,bg.retail_price
        FROM box_goods bg
        LEFT JOIN box_goods_attribute bga ON bg.id = bga.goods_id
        <where>
            bg.deleted = 0
            <if test="categoryCode != null">
                and bg.category_code = #{categoryCode,jdbcType=VARCHAR},
            </if>
            <if test="goodsNo != null" >
                and bg.goods_no like CONCAT('%',#{goodsNo},'%')
            </if>
            <if test="goodsName != null" >
                and bg.name like CONCAT('%',#{goodsName},'%')
            </if>
            <if test="quarter != null" >
                and bg.quarter like CONCAT('%',#{quarter},'%')
            </if>
            <if test="year != null">
                bg.year = #{year,jdbcType=INTEGER},
            </if>
            <if test="lowPrice != null">
                and bg.retail_price &gt;= #{lowPrice,jdbcType=DOUBLE},
            </if>
            <if test="highPrice != null">
                and bg.retail_price &lt;= #{highPrice,jdbcType=DOUBLE},
            </if>
            <if test="goodsAttributeCodes != null">
                and bga.attribute_code in
                <foreach collection="goodsAttributeCodes" index="index" item="goodsAttributeCodes" open="(" separator="," close=")">
                    #{goodsAttributeCodes}
                </foreach>
            </if>

        </where>
        GROUP BY bg.id,bg.goods_no,bg.name,bg.brand,bg.category_code,bg.img,bg.tmall_url,bg.quarter,bg.year,bg.retail_price
        order by add_time desc
    </select>

</mapper>
