<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuose.box.db.survery.dao.BoxSurveyUserAnswerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kuose.box.db.survery.entity.BoxSurveyUserAnswer">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="question_id" property="questionId" />
        <result column="question_info" property="questionInfo" />
        <result column="option_ids" jdbcType="VARCHAR" property="optionIds" typeHandler="com.kuose.box.db.mybatis.JsonIntegerArrayTypeHandler" />
        <result column="label_code" property="labelCode" />
        <result column="option_values" jdbcType="VARCHAR" property="optionValues" typeHandler="com.kuose.box.db.mybatis.JsonStringArrayTypeHandler" />
        <result column="option_content" property="optionContent" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, question_id, question_info, option_ids, label_code, option_values , option_content, create_time, update_time
    </sql>

    <select id="getQuestionShort" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT bsqo.id, option_content, question_type
        FROM box_survey_qusetion bsq
        LEFT JOIN box_survey_question_options bsqo ON bsq.id = bsqo.question_id
        WHERE bsq.id in (
           SELECT question_id FROM box_survey_user_answer  WHERE user_id = #{_parameter} GROUP BY question_id
        ) AND question_type = 3
    </select>

    <select id="getOptionQuestionShort" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT id, question_topic
        FROM box_survey_qusetion
        WHERE id in (
        ) AND question_type != 3
    </select>

    <select id="listUserQuestionAnswer" parameterType="java.lang.Integer" resultType="java.util.Map">
      select a.id, b.option_content from (
        SELECT bsqo.id, option_content, question_type
        FROM box_survey_qusetion bsq
        LEFT JOIN box_survey_question_options bsqo ON bsq.id = bsqo.question_id
        WHERE bsq.id in (
           SELECT question_id FROM box_survey_user_answer  WHERE user_id = #{_parameter} GROUP BY question_id
        ) AND question_type = 3
      ) a left join box_survey_user_answer b on a.id= b.option_id
    </select>

    <select id="listUserOptionQuestionAnswer" parameterType="java.lang.Integer" resultType="java.util.Map">
      select a.id, group_concat(c.option_content) as optionContent, group_concat(c.option_pic) as optionPic  from (
            SELECT id, question_topic
            FROM box_survey_qusetion
            WHERE id in (
              SELECT question_id FROM box_survey_user_answer  WHERE user_id = #{_parameter} GROUP BY question_id
            ) AND question_type != 3
      ) a left join box_survey_user_answer b on a.id = b.question_id
      left join box_survey_question_options c on b.option_id = c.id
      group by id
    </select>

</mapper>
