<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuose.source.goods.dao.RipreportProductinformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kuose.source.goods.entity.RipreportProductinformation">
        <id column="autoid" property="autoid" />
        <result column="sizeTableAutoid" property="sizeTableAutoid" />
        <result column="productno" property="productno" />
        <result column="firstCategory" property="firstCategory" />
        <result column="secondCategory" property="secondCategory" />
        <result column="thirdCategory" property="thirdCategory" />
        <result column="bidsReceived" property="bidsReceived" />
        <result column="webcost" property="webcost" />
        <result column="ggcost" property="ggcost" />
        <result column="jhscost" property="jhscost" />
        <result column="hdcost" property="hdcost" />
        <result column="bzcost" property="bzcost" />
        <result column="tagcost" property="tagcost" />
        <result column="incost" property="incost" />
        <result column="remark" property="remark" />
        <result column="flag" property="flag" />
        <result column="retailcost" property="retailcost" />
        <result column="companyCode" property="companyCode" />
        <result column="companyName" property="companyName" />
        <result column="companyAutoid" property="companyAutoid" />
        <result column="suites" property="suites" />
        <result column="secondCategoryStr" property="secondCategoryStr" />
        <result column="thirdCategoryStr" property="thirdCategoryStr" />
        <result column="layoutBigType2Key" property="layoutBigType2Key" />
        <result column="layoutBigType2Name" property="layoutBigType2Name" />
        <result column="gbCode" property="gbCode" />
        <result column="standardPrice" property="standardPrice" />
        <result column="dataFrom" property="dataFrom" />
        <result column="promotionPrice" property="promotionPrice" />
        <result column="brandAutoid" property="brandAutoid" />
        <result column="layoutTypeManageAutoid" property="layoutTypeManageAutoid" />
        <result column="requireDate" property="requireDate" />
        <result column="vipRequireDate" property="vipRequireDate" />
        <result column="newBand" property="newBand" />
        <result column="lifeCycle" property="lifeCycle" />
        <result column="platformProperty" property="platformProperty" />
        <result column="productUrl" property="productUrl" />
        <result column="vipcost" property="vipcost" />
        <result column="status" property="status" />
        <result column="img" property="img" />
        <result column="year" property="year" />
        <result column="quarter" property="quarter" />
        <result column="planSeries" property="planSeries" />
        <result column="productGroupName" property="productGroupName" />
        <result column="teamNumber" property="teamNumber" />
        <result column="saleStatus" property="saleStatus" />
        <result column="lifeCycle1" property="lifeCycle1" />
        <result column="msrepl_tran_version" property="msreplTranVersion" />
        <result column="confirmDate" property="confirmDate" />
        <result column="productName" property="productName" />
        <result column="createPerson" property="createPerson" />
        <result column="createTime" property="createTime" />
        <result column="importFile" property="importFile" />
        <result column="daiMaiState" property="daiMaiState" />
        <result column="success" property="success" />
        <result column="failure" property="failure" />
        <result column="result" property="result" />
        <result column="sex" property="sex" />
        <result column="sjcost" property="sjcost" />
        <result column="styleTowards" property="styleTowards" />
        <result column="lastUpdateDatetime" property="lastUpdateDatetime" />
        <result column="sizeGroupId" property="sizeGroupId" />
        <result column="sizeGroupType" property="sizeGroupType" />
        <result column="kisSuccess" property="kisSuccess" />
        <result column="kisFailure" property="kisFailure" />
        <result column="kisResult" property="kisResult" />
    </resultMap>

    <resultMap id="GoodsResultMap" type="com.kuose.source.goods.entity.BoxGoods" >
        <result column="autoid" property="sourceGoodsId" />
        <result column="productno" property="goodsNo" />
        <result column="thirdCategoryStr" property="name" />
        <result column="firstCategory" property="brand" />
        <result column="secondCategory" property="categoryCode" />
        <result column="img" property="img" />
        <result column="productUrl" property="tmallUrl" />
        <result column="quarter" property="quarter" />
        <result column="year" property="year" />
        <result column="webcost" property="counterPrice" />
        <result column="tagcost" property="tagPrice" />
        <result column="hdcost" property="retailPrice" />
        <result column="requireDate" property="registerDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        autoid, sizeTableAutoid, productno, firstCategory, secondCategory, thirdCategory, bidsReceived, webcost, ggcost, jhscost, hdcost, bzcost, tagcost, incost, remark, flag, retailcost, companyCode, companyName, companyAutoid, suites, secondCategoryStr, thirdCategoryStr, layoutBigType2Key, layoutBigType2Name, gbCode, standardPrice, dataFrom, promotionPrice, brandAutoid, layoutTypeManageAutoid, requireDate, vipRequireDate, newBand, lifeCycle, platformProperty, productUrl, vipcost, status, img, year, quarter, planSeries, productGroupName, teamNumber, saleStatus, lifeCycle1, msrepl_tran_version, confirmDate, productName, createPerson, createTime, importFile, daiMaiState, success, failure, result, sex, sjcost, styleTowards, lastUpdateDatetime, sizeGroupId, sizeGroupType, kisSuccess, kisFailure, kisResult
    </sql>
    
    <select id="listGoods" resultMap="GoodsResultMap">
        select autoid,productno,thirdCategoryStr,firstCategory,secondCategory,img,productUrl,quarter,year,webcost,tagcost,hdcost,requireDate
        from ripreport_ProductInformation
        <where>
            flag = 0 and status = 0

            <if test="productno != null" >
                and productno like '%${productno}%'
            </if>
            <if test="goodsName != null" >
                and thirdCategoryStr like '%${goodsName}%'
            </if>
            <if test="year != null" >
                and year like '%${year}%'
            </if>
        </where>
    </select>

    <select id="getGoods" resultMap="GoodsResultMap">
        select autoid,productno,thirdCategoryStr,firstCategory,secondCategory,img,productUrl,quarter,year,webcost,tagcost,hdcost,requireDate
        from ripreport_ProductInformation
        where productno = #{productno}
    </select>



    <!--获取数据源的所有属性-->
    <!--<select id="listAllAttibutes" resultMap="AttibutesResultMap">-->
        <!--SELECT Attributegroupname,attributename,attributedata FROM (-->
            <!--SELECT-->
                <!--d.designstyle ,-->
                <!--ag.Attributegroupname,-->
                <!--adata.attributeGroupId,-->
                <!--a.attributename,-->
                <!--adata.attributeId,-->
                <!--adata.attributedata-->
            <!--FROM-->
                <!--SCM_PRODUCT.dbo.ripreport_AttributeData AS adata-->
            <!--LEFT JOIN SCM_PRODUCT.dbo.ripreport_designstylerecords AS d ON d.autoid = adata.businessautoid-->
            <!--LEFT JOIN SCM_PRODUCT.dbo.ripreport_Attributegroup AS ag ON ag.autoid = adata.attributegroupid-->
            <!--LEFT JOIN SCM_PRODUCT.dbo.ripreport_Attribute AS a ON a.autoid = adata.attributeid-->
            <!--WHERE-->
                <!--adata.flag = 0-->
        <!--) t GROUP BY t.Attributegroupname,attributename,attributedata ORDER BY Attributegroupname,attributename-->
    <!--</select>-->

    <resultMap id="AttibutesGoodsResultMap" type="com.kuose.source.goods.entity.AttributeSource" >
        <result column="Attributegroupname" property="attributeGroupName" />
        <result column="attributename" property="attributeName" />
        <result column="attributedata" property="attributeValueName" />
        <result column="attributeGroupType" property="attributeGroupType" />
    </resultMap>

    <!--根据商品id获取商品的属性-->
    <select id="getGoodsAttibuteByGoodsId" resultMap="AttibutesGoodsResultMap">
        select
            ag.Attributegroupname,
            a.attributename,
            baa.attributeGroupType,
            adata.attributedata
        from ripreport_ProductInformationDesignstyle rpds
        left join ripreport_designstylerecords as d on rpds.designStyle = d.designStyle
        left join ripreport_AttributeData as adata ON d.autoid = adata.businessautoid
        left join ripreport_Attributegroup AS ag ON ag.autoid = adata.attributegroupid
        left JOIN ripreport_BusinessAttributeAppliedNew baa ON baa.attributeGroupId = ag.autoid AND baa.flag = 0
        LEFT JOIN ripreport_Attribute AS a ON a.autoid = adata.attributeid
        where adata.flag = 0 and rpds.productInformationAutoid = #{goodsId}
    </select>


    <resultMap id="AttibutesResultMap" type="com.kuose.source.goods.entity.AttributeSource" >
        <result column="attributeGroupName" property="attributeGroupName" />
        <result column="attributeGroupType" property="attributeGroupType" />
        <result column="attributeName" property="attributeName" />
        <result column="attributeOrder" property="attributeOrder" />
        <result column="selectWay" property="selectWay" />
        <result column="attributeValueName" property="attributeValueName" />
        <result column="attributeValueOrder" property="attributeValueOrder" />
    </resultMap>
    <select id="listAllAttibutes" resultMap="AttibutesResultMap">
       SELECT ag.attributeGroupName,baa.attributeGroupType,ra.attributeName,ragt.itemOrder as attributeOrder,ragt.selectWay,av.attributeValueName,ar.itemOrder AS attributeValueOrder
       FROM ripreport_Attributegroup ag
       RIGHT JOIN ripreport_BusinessAttributeAppliedNew baa ON baa.attributeGroupId = ag.autoid AND baa.flag = 0
       LEFT JOIN ripreport_AttributeGroupRelation ragt ON ag.autoid = ragt.attributeGroupId AND ragt.flag = 0
       LEFT JOIN ripreport_Attribute ra on ragt.attributeId = ra.autoid AND ra.flag = 0
       LEFT JOIN ripreport_AttributeRelation ar ON ar.attributeId = ra.autoid AND ar.flag = 0
       LEFT JOIN ripreport_AttributeValue av ON av.autoid = ar.attributeValueId AND av.flag = 0
       WHERE ag.attributeGroupName in ('产品指数','流行元素','风格','面料版型','盒子推荐') and attributeValueName is not null and attributeName is not null
    </select>



</mapper>
