<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuose.box.db.user.dao.BoxUserBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kuose.box.db.user.entity.BoxUserBase">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="height" property="height" />
        <result column="weight" property="weight" />
        <result column="top_size" property="topSize" />
        <result column="dress_size" property="dressSize" />
        <result column="bottoms_size" property="bottomsSize" />
        <result column="jeans_size" property="jeansSize" />
        <result column="chest_size" property="chestSize" />
        <result column="sneaker_size" property="sneakerSize" />
        <result column="top_price" property="topPrice" />
        <result column="dress_price" property="dressPrice" />
        <result column="bottoms_price" property="bottomsPrice" />
        <result column="accessory_price" property="accessoryPrice" />
        <result column="overcoat_price" property="overcoatPrice" />
        <result column="sneaker_price" property="sneakerPrice" />
        <result column="avoid_color" jdbcType="VARCHAR" property="avoidColor" typeHandler="com.kuose.box.db.mybatis.JsonStringArrayTypeHandler" />
        <result column="avoid_texture" jdbcType="VARCHAR" property="avoidTexture" typeHandler="com.kuose.box.db.mybatis.JsonStringArrayTypeHandler" />
        <result column="avoid_category" jdbcType="VARCHAR" property="avoidCategory" typeHandler="com.kuose.box.db.mybatis.JsonStringArrayTypeHandler" />
        <result column="avoid_figure" jdbcType="VARCHAR" property="avoidFigure" typeHandler="com.kuose.box.db.mybatis.JsonStringArrayTypeHandler" />
        <result column="profession" property="profession" />
        <result column="formal_wear" property="formalWear" />
        <result column="user_img" property="userImg" />
        <result column="leave_word" property="leaveWord" />
        <result column="frequency" property="frequency" />
        <result column="expect_time" property="expectTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, height, weight, top_size, dress_size, bottoms_size, jeans_size, chest_size, sneaker_size, top_price, dress_price, bottoms_price, accessory_price, overcoat_price, sneaker_price, avoid_color, avoid_texture, avoid_category, avoid_figure, profession, formal_wear, user_img, leave_word, frequency,expect_time, create_time, update_time, deleted
    </sql>

</mapper>
