<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuose.box.admin.admin.dao.BoxAdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kuose.box.admin.admin.entity.BoxAdmin">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="last_login_ip" property="lastLoginIp" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="avatar" property="avatar" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="role_ids" jdbcType="VARCHAR" property="roleIds" typeHandler="com.kuose.box.admin.mybatis.JsonIntegerArrayTypeHandler" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, last_login_ip, last_login_time, avatar, add_time, update_time, deleted, role_ids
    </sql>

    <select id="listAdmins" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from box_admin
        <where>
            deleted != 1
            <if test="_parameter != null" >
                and username = #{_parameter}
            </if>
        </where>
        order by add_time desc
    </select>

    <select id="listAdminsPage" resultMap="BaseResultMap">
      SELECT
          id,username,last_login_ip,last_login_time,avatar,role_ids
      FROM box_admin
        <where>
            deleted != 1
            <if test="username != null" >
                and username like CONCAT('%',#{username},'%')
            </if>
        </where>
        order by add_time desc
   </select>

    <update id="updateAdminById" parameterType="com.kuose.box.admin.admin.entity.BoxAdmin">
        update box_admin
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginIp != null">
                last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="addTime != null">
                add_time = #{addTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="roleIds != null">
                role_ids = #{roleIds,jdbcType=VARCHAR,typeHandler=com.kuose.box.admin.mybatis.JsonIntegerArrayTypeHandler},
            </if>
        </set>
        where deleted != 1 and id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="saveBoxAdmin" parameterType="com.kuose.box.admin.admin.entity.BoxAdmin">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into box_admin (username, `password`, last_login_ip, last_login_time,
        avatar, add_time, update_time, deleted, role_ids
        )
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{lastLoginIp,jdbcType=VARCHAR},
        #{lastLoginTime,jdbcType=BIGINT}, #{avatar,jdbcType=VARCHAR}, #{addTime,jdbcType=BIGINT},
        #{updateTime,jdbcType=BIGINT}, #{deleted,jdbcType=BIT}, #{roleIds,jdbcType=VARCHAR,typeHandler=com.kuose.box.admin.mybatis.JsonIntegerArrayTypeHandler}
        )
    </insert>

    <insert id="">


    </insert>

</mapper>
